body{
	margin:0 auto;
	padding:0px;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: pink;
}
#beginscene {
	display:block;
	position:absolute;
	margin: 0 auto;
	padding:0px;
	width: 100%;
	height:100%;
	background-color:#c5dbe0;
  	/*overflow: hidden;*/
}
#playbtn {
	position:absolute;
	margin: 0 auto;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width: 14vmin;
	height: 14vmin;
	z-index:1;
	cursor:pointer;	
}
#gameplay {
	display:none;
	position:absolute;
	margin: 0 auto;
	padding:0px;
	width: 100%;
	height:100%;
	background-color:#c5dbe0;
  	overflow: hidden;
}
#timearea{
	position: absolute;
	padding: 2px;
	top:5%;
	right: 0px;
	width: 18%;
	/*height: 30px;*/
	font-family :"Arial", Gadget, sans-serif;
	font-size:3vmin;
	background-color:  #5998a6;
	z-index: 50;
}
#score{
	width: 100%;
	text-align: center;
}
#timer{
	width: 100%;
	text-align: center
}
#maparea{
	position:absolute;
	padding:0px;
	margin: 0 auto;
	/*top:0px;*/
	left:0px;
	bottom:7%;
	width:100%;
	height:91%;
	overflow:visible;
	/*background:green;*/
}
#IndiaMap{
	position: absolute;
	margin:0 auto;
	padding:0px;
	height:100%;
	left:50%;
	/*top: 55%;*/
	transform: translate(-50%,0);
	z-index:2;
	/*background-color:red; */
}
.land{
	fill: #439677;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}
#IndiaMap path:hover{
  stroke: #2abb64;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #2abb64;
  /*cursor: pointer;*/
}
#IndiaMap path:active {
  fill: #00ff00;
  stroke: #00ff00;
  stroke-width: 1px;
}
#questionarea{
	position: absolute;
	bottom:0px;
	left:0px;
	width: 100%;
	height: 7%;
	background-color:white;
	z-index: 10;
}
#questiontext{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-family :"Arial Black", Gadget, sans-serif;
	font-size:4vmin;
}
#info_box {
	margin:0 auto;
	display: none;
	position: absolute;
	height:auto;
	top: 0px;
	left: 0px;
	z-index: 15;
	background-color: #ffffff;
	border: 1px solid #BF0A30;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
	font-size:3vmin;
	opacity:0.8;
	text-align:center;
}

#resetloc{
	position: absolute;
	background-color: white;
	bottom: 10%;
	right: 5px;
	padding: 8px;
	font-size:3vmin;
	border-radius: 50%;
}

.ahashakeheartache {
	animation: kf_shake 0.4s 1 linear;
}
@keyframes kf_shake {
	0% { -webkit-transform: translate(10px); }
	20% { -webkit-transform: translate(-10px); }
	40% { -webkit-transform: translate(5px); }
	60% { -webkit-transform: translate(-5px); }
	80% { -webkit-transform: translate(2px); }
	100% { -webkit-transform: translate(0px); }
}
.ripple {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: White;
  border: 5px solid White;
  position: absolute;
  left: 50%;
  transform: scale(.5);
  display: none;
}

.ripple.newactive {
  display: block;
  animation: ripple .4s ease-out forwards;
}

@keyframes ripple {
  from {
    transform: scale(.2);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  } 
}

.flashing{
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {fill:  #d6f5e3; stroke:#d6f5e3; stroke-width: 5px;}
	100% {opacity: 1;}
}